.App {
  /* text-align: center; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

table.ag-paragraph {
  margin-left: 36px;
  border-right: 36px solid transparent;
}

.ag-paragraph.ag-table-scroll {
  overflow-x: unset;
  overflow-y: unset;
  padding-bottom: 0;
}

figure.ag-paragraph[data-role="TABLE"] {
  margin-left: -36px;
  width: 100vw;
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 15px;
}

figure.ag-paragraph[data-role="TABLE"] .ag-front-icon {
  left: 6px;
}
