.App {
  /* text-align: center; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

table.ag-paragraph {
  margin-left: 36px;
  border-right: 36px solid transparent;
}

.ag-paragraph.ag-table-scroll {
  overflow-x: unset;
  overflow-y: unset;
  padding-bottom: 0;
}

figure.ag-paragraph[data-role="TABLE"] {
  margin-left: -36px;
  width: 100vw;
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 15px;
}

figure.ag-paragraph[data-role="TABLE"] .ag-front-icon {
  left: 6px;
}
.editor-root {
  --text-line-height: 28px;
  --text-font-size: 16px;
  --text-font-color: #333333;
  --text-font-family: 'Open Sans', 'Noto Sans SC', Menlo, "Ubuntu Mono", Consolas, "Courier New", "Microsoft Yahei", "Hiragino Sans GB", "WenQuanYi Micro Hei", sans-serif;
  --p-margin-bottom: 16px;
  line-height: var(--text-line-height);
  font-size: var(--text-font-size);
  color: var(--text-font-color);
  font-family: var(--text-font-family);
}
.editor-root p {
  margin-bottom: var(--p-margin-bottom);
}
div[id^='ag-editor-id'] > .ag-paragraph {
  margin-bottom: var(--p-margin-bottom);
}
.editor-view-loading {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}
:root,div.editor-main.mobile {
  --editor-font-family: PingFangSC-Regular;
}